.wrapper{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #ad0000;
    background-color: #eee;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .wrapper {
      position: fixed;
      bottom: 140px;
      right: -15px;
    }
  }

.speed{
    display: block;
    font-size: 38px;
    font-weight: 900;
}

.unit{
    display: block;
    font-size: 12px;
    font-weight: 200;
    transform: translateY(-5px);
}