.content{
    width: 100%;
    height: calc(100vh - 132px);
    /* border: 2px solid red; */
    padding: 20px 0;
    overflow-y: scroll;
}

/* MOBILE ONLY */
@media only screen and (max-width: 576px){
    .content{
        height: calc(100vh - 77px);
    }
}

.itemsHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

/* MOBILE ONLY */
@media only screen and (max-width: 576px){
    .itemsHolder{
        grid-template-columns: 100%;
    }
}