.wrapper{
    /* border: 2px solid red; */
    position: relative;
}

.infoHolder{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 55px;
    width: 100px;
    padding: 5px 10px;
}

.infoContent{
    color: #eee;
    display: block;
}