.wrapper{
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 10px;
    /* background-color: aqua; */
    height: calc(100vh - 155px);
}

.ctaGroup{
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.ctaGroup:not(:last-child){
    margin-bottom: 20px;
}

.ctaUp{
    height: 40px;
    width: 40px;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.ctaMid{
    height: 40px;
    width: 40px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.ctaDown{
    height: 40px;
    width: 40px;
    background-color: #eee;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.singleCta{
    height: 40px;
    width: 40px;
    background-color: #eee;
    /* border: 2px solid #eee; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active{
    /* border: 2px solid #111; */
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(70,70,70,1) 100%);
}

.active span{
    color: #eee;
}