.loadingComponentHolder{
    width: 100%;
    height: calc(100vh - 132px);
    /* border: 2px solid red; */
    /* background-color: aqua; */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MOBILE ONLY */
@media only screen and (max-width: 576px){ 
    .loadingComponentHolder{
        height: calc(100vh - 77px);
        width: 100%;
    }
}

.loadingText{
    width: 100%;
    max-width: 600px;
    font-weight: 200;
    font-size: 23px;
    margin-bottom: 10px;
}

.barWrapper{
    height: 2px;
    width: 100%;
    margin-bottom: 200px;
    max-width: 600px;
    background-color: #111;
    position: relative;
    overflow: hidden;
}

.runningBar{
    width: 300px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    animation: run 1s infinite ease-in-out;
}

@keyframes run{
    0%{
        left: -300px;
    }
    100%{
        left: calc(100% + 300px);
    }
}